server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      force: true

spring:
  datasource:
    url: jdbc:postgresql://54.180.99.63:5432/
    driver-class-name: org.postgresql.Driver
    username:
    password:
    hikari:
      connection-timeout: 30000       # 연결 타임아웃: 30초
      maximum-pool-size: 10           # 최대 연결 풀 크기
      minimum-idle: 5                 # 최소 유휴 연결 수
      idle-timeout: 300000            # 유휴 연결 타임아웃: 5분
      max-lifetime: 1200000           # 연결 최대 수명: 20분
      connection-test-query: SELECT 1 # 연결 테스트 쿼리
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      '[hibernate.default_batch_fetch_size]': 100
      '[hibernate.format_sql]': true
    show-sql: true
  output:
    ansi:
      enabled: always


jwt:
  secret: spring_security
  issuer: spring_security
  audience: spring_security.com
  access:
    expiration: 60 #초 단위
    header: Authorization
  refresh:
    expiration: 1 # day 단위
    header: Authorization-Refresh