server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      force: true
#Spring 관련 설정
spring:
  datasource:
    url: jdbc:postgresql://34.123.138.165:5432/postgres
    driver-class-name: org.postgresql.Driver
    username: citiz
    password: citiz1234!
    hikari:
      connection-timeout: 30000       # 연결 타임아웃: 30초
      maximum-pool-size: 10           # 최대 연결 풀 크기
      minimum-idle: 5                 # 최소 유휴 연결 수
      idle-timeout: 300000            # 유휴 연결 타임아웃: 5분
      max-lifetime: 1200000           # 연결 최대 수명: 20분
      connection-test-query: SELECT 1 # 연결 테스트 쿼리
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      '[hibernate.default_batch_fetch_size]': 100
      '[hibernate.format_sql]': false
    show-sql: true
  output:
    ansi:
      enabled: always

  security:
    user:
      name: user
      password: 1234
  # Redis 설정
  data:
    redis:
      host: 34.123.138.165
      port: 6379
  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    topic:
      chat: chat-messages
    consumer:
      group-id: citiz-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      # Redis Stream 설정과 매칭되는 Kafka 설정
      max-poll-records: 10 # Redis의 batch-size: 10과 매칭
      fetch-max-wait-ms: 2000 # Redis의 block-timeout: 2000과 매칭
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

# WebSocket 설정
websocket:
  endpoint: /ws/chat # WebSocket 엔드포인트 URL
  message-broker: /topic # 메시지 브로커 접두사
  destination-prefix: /app # 클라이언트 -> 서버 메시지 접두사

# Redis Stream 설정
redis:
  chat:
    stream:
      name: chat-stream # Redis Streams의 키 이름
      consumer-group: chat-group # 메시지를 읽어갈 컨슈머 그룹 이름
jwt:
  secret: "replace-with-long-random-secret-key-at-least-256-bits"
  expiration: 3600   # 초 (1시간)
  issuer: "citiz-auth"

app:
  cors:
    allowed-origins:
      - http://localhost:3000
      - https://citiz.cloud
